@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&Cormorant+Garamond|Montserrat&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px; 
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
#root {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerlogin{
    min-height: 100vh;
}
.center {
    text-align: center;
    width: 80%;
}
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome {
    width: 100%;
    color: grey;
    margin-bottom: 8%;
    font-size: 35px;
}
.welcome2 {
    margin: 8% 0;  
}
.inputs {
    width: 100%;
    margin: 3% 0;
    border: 1px solid #f2ea77;
    outline: none;
}
.btn-login {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 10%;
    background: #d01818;
    color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}
.inputs, .btn-login {
    border-radius: 15px;
    padding: 4%;
    outline: none;
}
.btn-login:hover {
    background: #f2ea77;
    color: #d01818;
}
.icon-input {
    background: black;
    color: white;
    width: max-content;
    align-self: flex-end;
}
.facebook, .google {
    width: 40px;
}
.btn-fb-google {
margin: 10px 0;
}
.bold {
    font-weight: bold;
    color:#d01818;
    line-height: none;
    text-decoration: none;
    font-size: 18px;
}
.registro {
    font-weight: bold;
    font-size: 18px;
}
.logo, .foods-kids, .welcome-description {
    display: none;
}
.register-ok {
    font-size: 16px;
    color: #00BCD4;
}
.ok {
    font-size: 13px;
    margin: 15px 0;
    font-weight: bold;
    color: grey;
}
.ir-login {
    font-size: 15px;
    font-weight: bold;
    color: #202de0;
    line-height: none;
    margin: 15px 0;
}
.ir-login:hover {
    text-decoration: none;
    color: #cf1717;
}
.focus {
    border: 1px solid #cf1717;
    color: #cf1717;
}
/* falta responsive */
.container-home {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2ea77;
    padding: 0 20px;
}
.exit-img {
    width: 20px;
    margin: 5px;
}
.error {
    color: #d01818;
    font-weight: bold;
    margin-bottom: 5px;
    width: 300px;
}
.obligatorio {
    align-self: self-start;
    color: #d01818;
    font-size: 12px;
}
.main {
    flex: 1;
    display: flex;
    justify-content: center;
}
.exit-input {
    background: none;
    border: none;
    padding: 0;
}
select {
    width: 220px;
    background: transparent;
    border: none;
}
.exit-container {
    display: flex;
    justify-content: space-between;
    width: 125px;
}
.container-user {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    width: 250px;
    height: 200px;
    margin-right: 20px;
}
.color-img {
    height: 50%;
    background: #cf1717;
}
.email-user {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    height: 50%;
    align-items: center;
}
.colunm-post {
    border: 1px solid;
    width: max-content;
    margin-top: 20px;
    height: 140px;
    border-radius: 3px;
    background: #d01818;
 }
 .estilotextarea{
    width: 400px;
    height: 70px;
    margin: 15px;
    background: #f2ea77;
 }
 .inpu{
    margin:5px;
    border-radius:8px;
   
 }
 .img-perfil{
     border-radius:50%;
     width: 100%;
     padding: 10%;
 }
 .estilotex{
    width: 80vh;
    height: 80px;
    margin: 15px;
 }
@media screen and (min-width:764px) {
    /* .fondo-fruit {
        background-image: url('./img/clock-vegetables-fruit.jpg');
        background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    } */
    * {
        font-size: 16px;
    }
    .logo, .foods-kids, .welcome-description {
        display: block;
    }
    .welcome, .img {
        display: none;
    }
    .center {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;
    } 
    .welcome-description {
        width: 300px;
        margin: 20px 0;
        color: grey;
        font-size: 20px;
    }
    .inputs {
        width: 350px;
        margin: 10px 0;
    }
    .facebook, .google {
        width: 48px;
    }
    .register-ok {
        font-size: 30px;
        color: #cf1717;
    }
    .ok {
        font-size: 15px;
    }
    .ir-login {
        font-size: 18px;
    }
    /* F */
}